* {
    box-sizing: border-box;
}

/* estilos menu principal */
/* aplicamos nesting */

.menu {
    ul {
        li {
            display : inline; /* li en horizontal */
        }
    }
}




header {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

#logo {
    width: 100px;
    flex-shrink: 0;
}
#logo img {
    width: 100%;
    border-radius: 50%;
}

#titulo {
    flex-grow: 1;
    text-align: center;
    color : white;
}



#habilidades {
    display : flex;
}
.hab {
    svg {
        width:200px;
        fill : blue;
        &:hover {
            fill : yellow;
        }
    }



} 

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}	
