* {
    box-sizing: border-box;
}

/* estilos menu principal */
/* aplicamos nesting */

.menu {
    ul {
        li {
            display : inline; /* li en horizontal */
        }
    }
}



#habilidades {
    display : flex;
}
.hab {
    svg {
        width:200px;
        fill : blue;
        &:hover {
            fill : yellow;
        }
    }



} 

footer, header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}	
